.Modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out;
    opacity: 100%;
    color: #555
  }
  
  .Modal {
    background: linear-gradient(30deg, #cc9873, beige);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0);
    animation: scaleUp 0.5s ease-in-out forwards;
    transition: transform 0.3s ease-in-out;
    width: 40%
  }
  .Form-button {
    fill: #555;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes rotateGradient {
    0% {
      background: linear-gradient(135deg, #ff7e5f, #feb47b);
    }
    100% {
      background: linear-gradient(495deg, #ff7e5f, #feb47b);
    }
  }