button {
    display: center;
    padding: 10px 10px;
    font-size: 1em;
    color: #fff;
    background-color: #cc9873;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    /* z-index: 1; */
}

button:hover {
    background-color: #a89766;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(180deg);
}

/* .CreatedTodobutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    background-color: #cc9873;
    cursor: pointer;
    animation: rotateGradient 5s linear infinite;
    transition: background-color 0.3s ease-in-out;
  }
  
  .CreatedTodobutton:hover {
    background-color: #a89766;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(180deg);
  } */
  
  /* .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
/*   
  @keyframes rotateGradient {
    0% {
      background: linear-gradient(135deg, #ff7e5f, #feb47b);
    }
    100% {
      background: linear-gradient(495deg, #ff7e5f, #feb47b);
    }
  } */